{% extends 'account/main.html' %}

    {% block content %}

<br>

<div class="row ms-3 mt-3 me-3">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer:</h5>
            <hr>
            <a href="" class="btn btn-outline-info btn-sm btn-block">Update</a><br>
            <a href="{% url 'create_order' customer.id %}" class="btn btn-outline-info btn-sm btn-block">Pesan</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Informaasi Kontak</h5>
            <hr>
            <p>Email: {{customer.email}}</p>
            <p>Phone: {{customer.phone}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Total Pesanan</h5>
            <hr>
            <h1 style="text-align: center; padiing: 10px">{{order_count}}</h1>
        </div>
    </div>

</div>
    
<div class="row ms-3 mt-5 me-3">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
            
            <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<br>

<div class="row ms-3 mt-3 me-3">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Produk</th>
                    <th>Catatan</th>
                    <th>Tanggal Pesan</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{order.product}}</td>
                        <td>{{order.note}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'update_order' order.id %}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Hapus</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

    {% endblock content %}