{% extends 'account/main.html' %}
{% load static %}
{% block content %}

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">

                <p>Apakah anda yakin ingin menghapus {{item}}?</p>

                <form action="{% url 'delete_order' item.id %}" method="POST">
                    {% csrf_token %}

                        <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                        <input class="btn btn-danger" type="submit" name="confirm">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}